body {
  font-size: 14px;
  line-height: 21px;
  font-family: "ptsans", "Arial", sans-serif;
  text-transform: uppercase;
  color: @color-lightblack;
  background: @bg-lightgrey;
}
img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}
