.btn {
  width: 280px;
  padding: 16px 0 20px 0;
  border: none;
  font-family: "ptsansbold", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  color: @color-white;
  background: @bg-blue;
  &_size {
    width: 180px;
    margin-bottom: 35px;
  }
}
