.btn {
  cursor: pointer;
  width: 280px;
  padding: 16px 0 20px 0;
  border: none;
  font-family: "ptsansbold", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  color: @color-white;
  background: @bg-blue;
  &_small {
    width: 180px;
  }
}

@media @tablet-widths {
  .btn {
    width: 460px;
    padding: 18px 0 15px 0;
    &_submit {
      width: 324px;
    }
    &_small {
      width: 275px;
    }
  }
}
@media @desktop-widths {
  .btn {
    &_submit {
      width: 480px;
    }
  }
}
