.features {
  padding-bottom: 27px;
  text-align: center;
  background: @bg-white;
}
.features__item {
  padding-top: 25px;
  background-color: @bg-darkgrey;
  &_border::after {
    content: "";
    display: block;
    width: 280px;
    height: 1px;
    margin: 0 auto;
    background: #d6d6d6;
  }
  &_bg-blue {
    padding-top: 38px;
    background: @bg-blue;
    color: @color-white;
  }
}
.features__title {
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "ptsansbold", sans-serif;
  color: @color-black;
  &_white {
    color: @color-white;
  }
}
.features__number {
  display: block;
  margin-bottom: 13px;
}
.features__text {
  line-height: 20px;
  padding: 0 35px 30px 35px;
  &_padding {
    padding: 0 27px 41px 27px;
  }
}
.features__wbr {
  display: none;
}
.features__img {
  height: 260px;
  background: url(../img/photo-city@1x.jpg) no-repeat -100px 0;
  background-size: cover;
  &_margin {
    margin-bottom: 36px;
  }
  &_devils-bridge {
    background: url(../img/photo-4-mobile@1x.jpg) no-repeat 0 -90px;
  background-size: 320px 360px;
  }
}

@media @tablet-widths {
  .features {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
  .features__item {
    width: 256px;
    &_border::after {
      display: none;
    }
    &_bg-blue {
      display: flex;
      width: 768px;
      padding: 0;
    }
  }
  .features__content-wrapper {
    width: 256px;
    &_order {
      order: 1;
    }
  }
  .features__img {
    width: 512px;
    &_margin {
      margin-bottom: 0;
    }
  }
  .features__title {
    padding: 43px 50px 0 50px;
    font-size: 21px;
  }
  .features__number {
    margin-bottom: 14px;
  }
  .features__text {
    padding: 0 54px 45px 54px;
    &_thin {
      padding: 0 50px 45px 50px;
    }
    &_padding {
      padding:0 45px 42px 45px;
    }
  }
  .features__wbr {
    display: inline;
  }
}

@media @desktop-widths {
  .features__item {
    width: 400px;
    &_bg-blue {
      width: 1200px;
    }
  }
  .features__content-wrapper {
    width: 400px;
  }
  .features__img {
    width: 800px;
  }
  .features__title {
    padding: 50px 123px 0 123px;
  }
  .features__text {
    padding: 0 73px 60px 73px;
    &_thin {
      padding: 0 90px 45px 90px;
    }
  }
}
