.feedback {
  padding-bottom: 75px;
  background: @bg-white;
}

@media @tablet-widths {
  .feedback {
    padding: 0 60px 75px 60px;
  }
}

@media @desktop-widths {
  .feedback {
    padding: 0 120px 100px 120px;
  }
}
