.hotel-booking {
  text-align: center;
  margin-bottom: 50px;
}
.hotel-booking__content-wrapper {
  width: 300px;
  margin: 0 auto;
}
.hotel-booking__title {
  margin-bottom: 22px;
  font-family: "ptsansbold", sans-serif;
  font-size: 21px;
  color: @color-black;
}
.hotel-booking__text {
  margin-bottom: 33px;
}
