.hotel-booking {
  padding: 0 13px 50px 13px;
  text-align: center;
  background: @bg-white;
}
.hotel-booking__title {
  margin-bottom: 17px;
  font-family: "ptsansbold", sans-serif;
  font-size: 21px;
  color: @color-black;
}
.hotel-booking__text {
  margin-bottom: 32px;
  line-height: 25px;
  letter-spacing: 0.001em;
}

@media @tablet-widths {
  .hotel-booking {
    padding-bottom: 58px;
  }
  .hotel-booking__title {
    margin-bottom: 35px;
    font-size: 30px;
  }
  .hotel-booking__text {
    margin-bottom: 40px;
  }
}

@media @desktop-widths {
  .hotel-booking {
    padding-bottom: 65px;
  }
  .hotel-booking__text {
    margin-bottom: 45px;
  }
}
