.info-cards {
  .content-container();
  margin-bottom: 27px;
  text-align: left;
}
.info-cards__item {
  position: relative;
  &_img-gift {
    order: 2;
  }
  &_img-burger {
    order: 1;
  }
    &::before {
      content: "";
      display: block;
      width: 38px;
      height: 38px;
      position: absolute;
      top: -15px;
      left: 0;
      background: url(../../img/icon-house.svg) no-repeat;
      background-size: 100% 100%;
    }
    &_img-gift::before {
      content: "";
      display: block;
      width: 38px;
      height: 38px;
      position: absolute;
      top: -15px;
      left: 0;
      background: url(../../img/icon-gift.svg) no-repeat;
      background-size: 100% 100%;
    }
    &_img-burger::before {
      content: "";
      display: block;
      width: 38px;
      height: 38px;
      position: absolute;
      top: -15px;
      left: 0;
      background: url(../../img/icon-burger.svg) no-repeat;
      background-size: 100% 100%;
    }
}
.info-cards__title {
  margin-left: 50px;
  margin-bottom: 13px;
  font-family: "ptsansbold", sans-serif;
  font-size: 18px;
  color: @color-black;
}
.info-cards__text {
  margin-left: 50px;
}
@media @tablet-widths {
  .info-cards {
    width: 768px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
  }
  .info-cards__item {
    width: 170px;
    &::before {
      content: "";
      display: block;
      width: 78px;
      height: 76px;
      position: absolute;
      top: 0;
      left: 45px;
      background: url(../../img/icon-house.svg) no-repeat;
      background-size: 100% 100%;
    }
    &_img-gift::before {
      content: "";
      display: block;
      width: 78px;
      height: 76px;
      position: absolute;
      top: 0;
      left: 45px;
      background: url(../../img/icon-gift.svg) no-repeat;
      background-size: 100% 100%;
    }
    &_img-burger::before {
      content: "";
      display: block;
      width: 78px;
      height: 76px;
      position: absolute;
      top: 0;
      left: 45px;
      background: url(../../img/icon-burger.svg) no-repeat;
      background-size: 100% 100%;
    }
  }
  .info-cards__title {
    margin-top: 105px;
    margin-left: 0px;
    text-align: center;
    font-size: 21px;
  }
  .info-cards__text {
    margin-left: 0;
    text-align: center;
  }
}

@media @desktop-widths {
  .info-cards {
    width: 1200px;
    margin-bottom: 80px;
  }
  .info-cards__item {
    width: 290px;
    &::before {
      left: 106px;
    }
    &_img-gift::before {
      left: 106px;
    }
    &_img-burger::before {
      left: 106px;
    }
  }
}
