.info-cards {
  padding-bottom: 10px; 
  .content-container();
  text-align: left;
}
.info-cards__item {
  position: relative;
  margin-bottom: 29px;
  &::before {
    content: "";
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -11px;
    left: 0;
    background: url(../../img/icon-house.svg) no-repeat;
    background-size: 100% 100%;
  }
  &_img-gift::before {
    background: url(../../img/icon-gift.svg) no-repeat;
    background-size: 100% 100%;
  }
  &_img-burger::before {
    top: -8px;
    background: url(../../img/icon-burger.svg) no-repeat;
    background-size: 100% 100%;
  }
}
.info-cards__title {
  margin-left: 50px;
  margin-bottom: 12px;
  font-family: "ptsansbold", sans-serif;
  font-size: 18px;
  color: @color-black;
}
.info-cards__text {
  margin-left: 50px;
  line-height: 21px;
}
@media @tablet-widths {
  .info-cards {
    width: 768px;
    padding-top: 55px;
    display: flex;
    justify-content: space-around;
  }
  .info-cards__item {
    width: 170px;
    margin-bottom: 60px;
    &::before {
      content: "";
      display: block;
      width: 78px;
      height: 76px;
      position: absolute;
      top: 0;
      left: 45px;
      background: url(../../img/icon-house.svg) no-repeat;
      background-size: 100% 100%;
    }
    &_img-gift::before {
      background: url(../../img/icon-gift.svg) no-repeat;
      background-size: 100% 100%;
    }
    &_img-burger::before {
      background: url(../../img/icon-burger.svg) no-repeat;
      background-size: 100% 100%;
    }
  }
  .info-cards__title {
    margin-top: 105px;
    margin-left: 0px;
    text-align: center;
    font-size: 21px;
  }
  .info-cards__text {
    margin-left: 0;
    text-align: center;
  }
}

@media @desktop-widths {
  .info-cards {
    width: 1200px;
  }
  .info-cards__item {
    width: 290px;
    margin-bottom: 80px;
    &::before {
      left: 106px;
    }
    &_img-gift::before {
      left: 106px;
    }
    &_img-burger::before {
      left: 106px;
    }
  }
}
