.info-cards {
  .content-container();
  text-align: left;
}
.info-cards__item {
  position: relative;
  margin-bottom: 25px;
}
.info-cards__icon {
  width: 37px;
  height: 37px;
  position: absolute;
  top: -7px;
  left: 1px;
  fill: @bg-blue;
}
.info-cards__title {
  margin-left: 50px;
  margin-bottom: 16px;
  font-family: "ptsansbold", "Arial", sans-serif;
  font-size: 18px;
  color: @color-black;
}
.info-cards__text {
  margin-left: 50px;
  line-height: 21px;
}

@media @tablet-widths {
  .info-cards {
    display: flex;
    justify-content: space-around;
    width: 768px;
    padding-top: 55px;
  }
  .info-cards__item {
    width: 157px;
    margin-bottom: 60px;
    &_gift {
      width: 162px;
      order: 2;
    }
  }
  .info-cards__icon {
    width: 78px;
    height: 76px;
    position: absolute;
    top: -1px;
    left: 40px;
  }
  .info-cards__title {
    margin-top: 100px;
    margin-left: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 21px;
    letter-spacing: 0;
  }
  .info-cards__text {
    margin-left: 0;
    text-align: center;
  }
}

@media @desktop-widths {
  .info-cards {
    width: 1200px;
  }
  .info-cards__item {
    width: 290px;
    margin-bottom: 80px;
  }
  .info-cards__icon {
    left: 106px;  
  }
  .info-cards__text {
  }
}
