.intro {
  margin-bottom: 41px;
}
.intro__content-wrap {
  .container();
}
.intro__img-wrap {
  margin-bottom: 42px;
  padding-top: 90px;
  padding-bottom: 85px;
  text-align: center;
  background: url(../../img/bg-back-mobile@1x.jpg) no-repeat -235px 0px;
  background-size: auto 100%;
  &_size {
    padding-top: 50px;
    padding-bottom: 70px;
    background: url(../../img/bg-back-mobile@1x.jpg) no-repeat -220px -230px;
  }
}
.intro__title {
  padding: 0px 10px;
  margin-bottom: 26px;
  font-family: "ptsansbold", sans-serif;
  font-size: 18px;
  text-align: center;
  color: @color-black;
}
.intro__text {
  text-align: center;
}
