.intro {
  margin-top: -29px;
  background: @bg-white;
}
.intro__wrapper {
  padding-top: 89px;
  padding-bottom: 80px;
  text-align: center;
  background: #e4f1f9 url("../img/bg-back-mobile@1x.jpg") no-repeat -225px 0px;
  background-size: cover;
  &_small {
    padding-top: 50px;
    padding-bottom: 60px;
    background: #e4f1f9 url("../img/bg-back-mobile@1x.jpg") no-repeat -225px -230px;
  }
}

@media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
  .intro__wrapper {
    background: #e4f1f9 url("../img/bg-back-mobile@2x.jpg") no-repeat -225px -1px;
    background-size: cover;
    &_small {
      background: #e4f1f9 url("../img/bg-back-mobile@2x.jpg") no-repeat -225px -230px;
      background-size: 768px 389px;
    }
  }
}

.intro__content-wrapper {
  position: relative;
  padding: 40px 20px 0 20px;
  &::before {
    content: "";
    position: absolute;
    top: -26px;
    left: 0px;
    display: block;
    width: 320px;
    height: 27px;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat;
    background-size: 320px 27px;
  }
  &_triangle {
    padding-bottom: 13px;
  }
  &_triangle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    display: block;
    width: 320px;
    height: 37px;
    background: url("../img/bg-triangle.svg") no-repeat;
    background-size: 320px 37px;
  }
  &_small {
    padding-top: 38px;
  }
  &_small::before {
    top: -26px;
  }
}
.intro__title {
  margin: 0 0 27px 0;
  padding: 0px 10px;
  font-family: @font-bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.15px;
  text-align: center;
  color: @color-black;
}
.intro__text {
  line-height: 26px;
  letter-spacing: 0.07px;
  text-align: center;
  &_small {
    margin: 0;
    padding: 0 5px 27px 5px;
    line-height: 24px;
    letter-spacing: 0;
  }
  &_padding {
    padding: 0 2px 17px 3px;
  }
}

//Tablet

@media @tablet-widths {
  .intro {
    margin-top: 0;
  }
  .intro__wrapper {
    padding-top: 75px;
    padding-bottom: 82px;
    background: #e4f1f9 url("../img/bg-back-tablet@1x.jpg") no-repeat;
    &_small {
      padding-top: 93px;
      padding-bottom: 109px;
      background: #e4f1f9 url("../img/bg-back-tablet@1x.jpg") no-repeat 0 -230px;
      background-size: cover;
    }
  }

  @media (min-width: 768px) and (min-resolution: 144dpi),
          (min-width: 768px) and (min-resolution: 1.5dppx) {
    .intro__wrapper {
      background: #e4f1f9 url("../img/bg-back-tablet@2x.jpg") no-repeat;
      background-size: cover;
      &_small {
        background: #e4f1f9 url("../img/bg-back-tablet@2x.jpg") no-repeat 0 -230px;
        background-size: 768px 518px;
      }
    }
  }

  .intro__content-wrapper {
    padding: 50px 140px 36px 140px;
    &::before {
      top: -57px;
      width: 768px;
      height: 57px;
      background: url("../img/bg-intro-triangle-tablet.svg") no-repeat;
      background-size: 768px 57px;
    }
    &::after {
      display: none;
    }
    &_small {
      padding: 75px 165px 44px 165px;
      }
  }
  .intro__img {
    width: 464px;
    height: 354px;
    &_small {
      width: 460px;
      height: 80px;
    }
  }
  .intro__title {
    margin-bottom: 28px;
    padding: 0;
    font-size: 21px;
    &_big {
      font-size: 30px;
      line-height: 26px;
      margin-bottom: 30px;
    }
  }
  .intro__text {
    &_padding {
      padding: 0 0 17px 0;
    }
  }
}

//Desktop

@media @desktop-widths {
  .intro__wrapper {
    background: #e4f1f9 url("../img/bg-back-desktop@1x.jpg") no-repeat;
    &_small {
      padding-top: 100px;
      padding-bottom: 115px;
      background: #e4f1f9 url("../img/bg-back-desktop@1x.jpg") no-repeat 0 -218px;
    }
  }

  @media (min-width: 1200px) and (min-resolution: 144dpi),
        (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .intro__wrapper {
      background: #e4f1f9 url("../img/bg-back-desktop@2x.jpg") no-repeat;
      background-size: cover;
      &_small {
        background: #e4f1f9 url("../img/bg-back-desktop@2x.jpg") no-repeat 0 -212px;
        background-size: 1200px 518px;
      }
    }
  }

  .intro__content-wrapper {
    padding: 50px 356px 37px 356px;
    &::before {
      top: -57px;
      width: 1200px;
      height: 57px;
      background: url("../img/bg-intro-triangle-desktop.svg") no-repeat -3px 0;
      background-size: 1205px 57px;
    }
    &_small {
      padding: 109px 379px 45px 379px;
    }
    &_small::before {
      top: -57px;
    }
  }
  .intro__title {
    margin-bottom: 27px;
    &_big {
      font-size: 30px;
      margin-bottom: 31px;
    }
  }
}
