.like {
  display: flex;
  align-items: baseline;
  width: 70px;
}
.like__icon {
  width: 22px;
  height: 20px;
  border: none;
  margin-right: 13px;
  background-color: white;
  background: url(../../img/icon-like.svg) no-repeat;
}
.like__text {
  font-family: "ptsansbold", sans-serif;
  line-height: 18px;
  color: @color-black;
}

@media @tablet-widths {
  .like {
    margin-right: 20px;
  }
  .like__text {
  }
}
