.main-footer {
  padding-top: 38px;
  padding-bottom: 20px;
  text-align: center;
  background: @bg-white;
}
.main-footer__hashtag {
  margin-bottom: 39px;
  font-family: "ptsansbold", sans-serif;
  font-size: 21px;
  color: @color-black;
}
.main-footer__copyright-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  padding-top: 3px;
}
.main-footer__copyright-logo {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 35px;
  margin-right: -2px;
  background: url(../../img/logo-htmlacademy.svg) no-repeat;
}

@media @tablet-widths {
  .main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main-footer__hashtag {
    margin-bottom: 0;
  }
}
