.photo-block {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  &_border {
    border-bottom: 1px solid #e5e5e5;
  }
}
.photo-block__content-wrapper {
  .container();
}
.photo-block__img {
  margin-bottom: 15px;
}
.photo-block__title {
  font-family: "ptsansbold", sans-serif;
  font-size: 14px;
  color: @color-black;
}
.photo-block__author {
  margin-bottom: 5px;
  text-transform: none;
}
