.popup {
  .container();
  padding-top: 40px;
  padding-bottom: 35px;
  text-align: center;
  background: @bg-white;
  &_big {
    padding-bottom: 0;
  }
}
.popup__content-wrapper {
  width: 230px;
  margin: 0 auto;
}
.popup__title {
  margin-bottom: 28px;
  font-family: "ptsansbold", sans-serif;
  font-size: 18px;
  color: @color-black;
}
.popup__text {
  margin-bottom: 22px;
  &_margin {
    margin-bottom: 33px;
  }
}
.popup__btn-wrap {
  padding: 20px;
  background-color: @bg-lightgrey;
}

@media @tablet-widths {
  .popup {
    width: 400px;
    padding-top: 60px;
    padding-bottom: 50px;
    &_big {
      width: 644px;
      padding-bottom: 0;
    }
  }
  .popup__content-wrapper {
    width: 275px;
    &_big {
      width: 400px;
    }
  }
  .popup__title {
    width: 400px;
    margin: 0 auto 30px auto;
    font-size: 30px;
    line-height: 40px;
    &_small {
      width: 220px;
    }
  }
  .popup__text {
    margin-bottom: 37px;
  }
  .popup__btn-wrap {
    padding: 45px 95px;
  }
}
