.social-links {
  width: 150px;
  margin: 0 auto 40px auto;
}
.social-links__item {
  display: inline-block;
  width: 46px;
  height: 48px;
  &_tw {
    background: url(../img/icon-twitter.svg) no-repeat 14px 17px,
                @bg-blue;
  }
  &_fb {
    width: 47px;
    background: url(../img/icon-facebook.svg) no-repeat 20px 14px,
                @bg-blue;
  }
  &_youtube {
    background: url(../img/icon-youtube.svg) no-repeat 13px 17px,
                @bg-blue;
  }
}

@media @tablet-widths {
  .social-links {
    margin: 0;
  }
}
