.social-links {
  width: 152px;
  margin: 0 auto 25px auto;
}
.social-links__item {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 46px;
  height: 48px;
  margin-right: 2px;
  background: @bg-blue;
  &:nth-child(2n+2) {
    width: 47px;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: #669ec0;
  }
  &:active {
    background-color: #5496bd;
  }
  &:active .social-links__icon {
    fill: #88b6d1;
  }
}
.social-links__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  fill: @bg-white;
}

//////////Tablet

@media @tablet-widths {
  .social-links {
    width: 156px;
    margin: 0 0 0 -8px;
    line-height: 0;
  }
  .social-links__item {
    margin-right: 2px;
    &:last-child {
    margin-right: 0;
    }
  }
}

@media @desktop-widths {
  .social-links {
    margin-left: -2px;
    margin-right: 350px;
  }
}
