.video {
  margin-bottom: 75px;
  text-align: center;
}
.video__content-wrapper {
  .container();
}
.video__title {
  margin-bottom: 25px;
  font-family: "ptsansbold", sans-serif;
  font-size: 18px;
  color: @color-black;
}
.video__text {
  margin-bottom: 32px;
}
